.g__subtitle{
    font-size: 45px;
    font-weight: 300;
    color: $black;
    line-height: 1;

    @media(max-width: $mq4){ font-size: 35px; }
    @media(max-width: $mq5){ font-size: 25px; }
}