.features{
    &-lc,
    &-rc{
        width: 50%;
        @media(max-width: $mq4){ width: 100%; }
    }
    &-rc{ padding: 20px; }
    &__main-title{
        max-width: 475px;
        padding-top: 50px;

        @media(max-width: $mq4){
            text-align: center;
            max-width: 100%;
            width: 100%;
            margin-bottom: 20px;
        }
    }

}
